# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [2]:
L1 = [] # Lista vacía

In [3]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista con valores iniciales

In [4]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [4]:
L4 = ['a', 5, True, "Juan Gabriel"] # Lista heterogénea con varios tipos de datos diferentes

In [5]:
L4

['a', 5, True, 'Juan Gabriel']

In [1]:
L5 = [0]*10

In [2]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
L4[0] # Las listas en Python empiezan en la posición número 0

'a'

In [7]:
L4[1]

5

In [3]:
L5[4] = 3.1415 # Modificación de valores

In [4]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [5]:
L5[13] = 8

IndexError: list assignment index out of range

In [6]:
L5[13]

IndexError: list index out of range

In [12]:
L4[0:2] # Accesos de posiciones múltiples (incluye la primera, pero no la última)

['a', 5]

In [7]:
L5[1:4] = [1,2,3]

In [8]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [9]:
L5.append(8)

In [10]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [11]:
L5.remove(3)# Elimina la primera ocurrencia del objeto 3 de la lista L5

In [12]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [13]:
L5.reverse()#Girar la lista

In [14]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [16]:
L5.count(0)#Contar el elemento indicado en la lista

6

In [17]:
L5.index(2)

7

In [18]:
len(L5)

10

In [19]:
L = [1,2,3,4,5,6]

In [20]:
L[1::2]#Sacar elementos en posición impar

[2, 4, 6]

In [21]:
L[::2]#Sacar elementos en posición par

[1, 3, 5]

In [33]:
L[-1]

6

In [22]:
8 in L

False

In [23]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [25]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [26]:
numero

6

In [27]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [28]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [29]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta.

In [30]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [36]:
primos = [2,3,5,7,11,13,17,19,23,29]
print(enumerate(primos))

<enumerate object at 0x00000204020111C0>

In [37]:
for idx, p in enumerate(primos): 
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [38]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tupla
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [39]:
p1 = (1,)

In [46]:
p1

(1,)

In [47]:
p2 = (1,2,3,4)

In [48]:
p2

(1, 2, 3, 4)

In [49]:
p3 = (1,2,'c',3.1415)

In [50]:
p3

(1, 2, 'c', 3.1415)

In [51]:
p3[0]

1

In [53]:
p3[0:2]

(1, 2)

In [54]:
a,b,c,d = p3

In [55]:
a

1

In [56]:
b

2

In [57]:
c

'c'

In [58]:
d

3.1415

In [59]:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [60]:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [61]:
"Hola que tal   estás".split(" ")

['Hola', 'que', 'tal', '', '', 'estás']

In [62]:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [63]:
numeros = input("Escribe números separados por comas.")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas.3,4,5,6,7
['3', '4', '5', '6', '7']
('3', '4', '5', '6', '7')

In [64]:
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

5.0

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [65]:
nombre = input("Introduce aquí tu nombre")
print("Hola %s"%nombre)

Introduce aquí tu nombreSandia
Hola Sandia

In [66]:
print("Estos son los números primos: %s"%primos)

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [67]:
print("Esto es un número: %d"%suma)

Esto es un número: 25

In [68]:
media = suma/len(numerosT)
print("Esto es un número decimal: %.0f"%media)

Esto es un número decimal: 5

In [69]:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}

In [70]:
edad["Ricardo"]

53

In [71]:
edad["Ricardo"] = 52

In [72]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [73]:
edad.keys()

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [74]:
edad.values()

dict_values([30, 20, 52, 45])

In [95]:
len(edad)

4

In [75]:
"Pepe" in edad

False

In [76]:
"María" in edad

True

In [77]:
"Mario" not in edad

True

In [80]:
del edad["Antonio"]

In [81]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [82]:
notas = {"Al1": 5.6, "Al2":7.5, "Al3": 10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}